@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Noto+Serif";

body{
    background-image: url(../img/mario.png);
}

h1{
    color: chocolate;
}

h2{
    margin-left: 50px;
}

/* Estilizando um ID */
#p1{
    color: blueviolet;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16pt;
}

/* Estilizando uma classe */
.center{
    text-align: center;
}

